{% extends 'base.html.twig' %}

{% block title %}Admin World - {{ world.name }}{% endblock %}


{% block body %}
<div class="world-admin-wrapper text-light py-5">
  <div class="container">

    <h2 class="text-center mb-4 fw-bold">Admin World</h2>

    <div class="d-flex gap-4">
      <!-- Menu latéral -->
      <div class="side-menu">
        <a href="{{ path('app_world_admin', { id: world.id, section: 'world' }) }}" 
           class="menu-item {{ section == 'world' ? 'active' }}">
          ⚙️ World
        </a>

        <a href="{{ path('app_world_admin', { id: world.id, section: 'log' }) }}" 
           class="menu-item {{ section == 'log' ? 'active' }}">
          🧾 Log
        </a>
      </div>

      <!-- Zone principale -->
      <div class="flex-grow-1">
        {% if section == 'log' %}
          {% include 'world/_log.html.twig' %}
        {% else %}
          {% include 'world/_world.html.twig' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
